<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }} | David Robles</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/main.css">
{% if page.style %}
    {% for style in page.style do %}
        <link rel="stylesheet" href="/css/{{style}}">
    {% endfor %}
{% endif %}

{% if page.js %}
    {% for js in page.js do %}
        <script src="/js/{{js}}"></script>
    {% endfor %}
{% endif %}
</head>

<body>

{% include header.html %}

<div class="container">
    <div class="sidebar">
        <div class="widget">
            <div class="name">
                <div style="text-align: center; margin-bottom: 10px;">
                    <!-- <a href="http://facebook.com/davidrobles"> -->
                    <!--     <img src="/img/social-icons/rss.png"style="width: 30px; height: 30px;" /> -->
                    <!-- </a> -->
                    <a href="http://facebook.com/davidrobles">
                        <img src="/img/social-icons/facebook.png"style="width: 30px; height: 30px;" />
                    </a>
                    <a href="http://twitter.com/davidrobles">
                        <img src="/img/social-icons/twitter.png" style="width: 30px; height: 30px;" />
                    </a>
                    <a href="http://www.linkedin.com/in/drobles">
                        <img src="/img/social-icons/linkedin.png" style="width: 30px; height: 30px;" />
                    </a>
                    <a href="http://github.com/davidrobles">
                        <img src="/img/social-icons/github.png" style="width: 30px; height: 30px;" />
                    </a>
                    <a href="http://instagram.com/davidrobles">
                        <img src="/img/social-icons/instagram.png" style="width: 30px; height: 30px;" />
                    </a>
                </div>
            </div>
            <div class="con">
                <a href="/about" alt="About">
                <img src="/img/david.jpg" class="about" style="width: 50%; height: 50%" />
                </a>
            </div>
        </div>
        <div class="widget">
            <div class="name">Recent Posts</div>
            <div>
                <ul>
                    {% for post in site.posts offset: 0 limit: 10  %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- <div class="widget"> -->
        <!--     <div class="name">Tags</div> -->
        <!--     <div> -->
        <!--         <ul> -->
        <!--             {% for tag in site.tags  %} -->
        <!--             <li><a href="{{ post. }}">{{ tag | first }}</a></li> -->
        <!--             {% endfor %} -->
        <!--         </ul> -->
        <!--     </div> -->
        <!-- </div> -->
    </div> <!-- sidebar -->
    <div class="content">
        {{ content }}
    </div>
</div> <!-- content -->

<footer>
    &copy; 2014 David Robles
</footer>

{% if page.jsExternal %}
    {% for js in page.jsExternal do %}
        <script src="{{js}}"></script>
    {% endfor %}
{% endif %}

{% if page.js %}
    {% for js in page.js do %}
        <script src="/js/{{js}}"></script>
    {% endfor %}
{% endif %}

{% include google-analytics.js %}
{% include addthis.js %}

</body>
</html>
